body{
    background-color: antiquewhite;
    padding: 25vh 40vw;
}


.container {
    height: 450px;
    width: 290px;
    border: 1px solid rgb(174, 168, 168);
    border-radius: 10px;
    position: absolute;
    /*background-color: rgb(253, 244, 236);*/
    background: linear-gradient(to bottom right, rgb(245, 228, 228),  rgb(245, 245, 253));
    box-shadow: 9px 9px 16px rgba(0, 0, 0, 0.205);
    
}

div img {
    height: 200px;
    width: 290px;
    border-radius: 25px;
    padding: 5px;
    padding-bottom: 15px;
    box-sizing: border-box;

}

div span {
    color: rgb(134, 117, 117);
    padding: 2px 4px;
    margin: 2px;
    border: 1px solid rgb(209, 187, 187);
    border-radius: 15px;
    

}

.span {
    /*display: flex;*/
    position: relative;
    left: 15px;
    font-family: Arial, Helvetica, sans-serif;

}

.content{
    position: relative;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

button{
    color: rgb(42, 42, 218);
    background-color: rgb(214, 233, 240);
    border-radius:25px;
    border: none;
    padding: 15px;
    position: relative;
    left: 27%;
    bottom: 10px;
    font-size: 1rem;
}

p{
    color: rgb(141, 137, 132);
    font-weight: 200;
}
